@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* body {
  } */
}
/* sidebar  */
@layer components {
  .hamburger {
    @apply fixed top-1 left-1 inline-flex items-center justify-center rounded-full p-2 text-slate-700 z-50;
  }
  .sideBar {
    @apply lg:w-1/5 overflow-auto touch-pan-y p-6 w-full h-screen fixed top-0 lg:left-0 peer-focus:left-0  ease-out delay-150 duration-200 z-40;
  }
  .typeWriter {
    @apply flex justify-center pb-6 pt-6 mt-6 text-white;
  }
  .profileContainer {
    @apply pb-6 pt-6 flex flex-col items-center text-center mt-6 z-40;
  }
  .circleA {
    @apply rounded-full absolute border border-[#333333];
  }
  .circleB {
    @apply rounded-full absolute;
  }
  .backgroundCircles {
    @apply absolute flex justify-center items-center mt-16 z-40;
  }
  .selfie {
    @apply flex justify-center h-32 w-32 mx-auto rounded object-cover;
  }
  .navButton {
    @apply py-2 px-3 border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500 hover:border-[#56A4E6]/75 hover:text-[#56A4E6]/75 flex justify-center hover:animate-pulse hover:underline underline-offset-4 decoration-yellow-500 z-50;
  }
  .navList {
    @apply pt-5 mt-5 z-50 lg:pl-0 justify-items-center grid lg:grid-flow-row grid-flow-col lg:grid-cols-1 justify-center font-Comfortaa;
  }
  .iconA {
    @apply flex justify-center pt-6 mt-6;
  }
  .iconB {
    @apply flex justify-center pt-6;
  }
}
/* Hero */
@layer components {
  .overlay {
    height: 100%;
    position: fixed;
    @apply absolute w-full opacity-20 bg-black -z-20 lg:opacity-25;
  }
  .content {
    @apply text-white relative z-30;
  }
  #stream {
    height: 100%;
    @apply absolute z-10 w-auto min-w-full min-h-full max-w-none;
  }
  @media (max-width: 767px) {
    #stream {
      display: none;
    }
    .heroSection {
      background: url(https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/f83b3d8f-2b69-451b-1d26-400370711300/public);
      background-size: cover;
    }
    /* body {
      background-image: url("https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/f83b3d8f-2b69-451b-1d26-400370711300/public");
      background-size:cover;
      @apply z-10 w-auto min-w-full min-h-full max-w-none;
    } */
  }
}
/* About */
@layer components {
  .aboutSection {
    background: url(https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/5ba3effa-5032-4b31-ffc8-62da87a4a000/public);
    overflow: hidden;
    background-size: cover;
    @apply text-white h-screen relative;
  }
  .aboutContent {
    align-items: center;
    @apply font-Comfortaa items-center justify-center text-center overflow-hidden pt-6 z-30 lg:flex mt-6 pb-4;
  }
  .content {
    @apply pb-4 mx-2;
  }
  .card {
    width: 90%;
    color: #fff;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    align-items: center;
    border-radius: 16px;
    box-shadow: 0 4px 4px 6px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(400px);
    @apply ml-6 lg:mt-6 lg:pt-6 grid justify-center text-white z-10;
  }
  .about {
    @apply pt-4;
  }
  .ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    filter: contrast() grayscale() invert() brightness(50);
    @apply z-0;
  }
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
      repeat-x;
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
      swell 7s ease -1.25s infinite;
    opacity: 1;
  }
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }

  @keyframes swell {
    0%,
    100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
}
/* Skills */
@layer components {
  .skillsSection {
    background: url(https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/5ba3effa-5032-4b31-ffc8-62da87a4a000/public);
    background-size: cover;
  }

  .head {
    @apply ml-6 pl-6 pr-6 mr-6 pt-6 pb-3 grid justify-center font-Comfortaa text-white text-2xl;
  }

  .container1 {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-bottom: 30px;
  }
  .row:before {
    content: " ";
    display: table;
  }
  .row:after {
    clear: both;
  }
  .row_md_12 {
    display: flex;
    flex-direction: column;
  }
  .timeline_centered {
    z-index: 1;
    position: relative;
    margin-bottom: 30px;
  }
  .timeline_centered:before {
    content: "";
    position: absolute;
    display: block;
    width: 4px;
    background: #f3f2f7;
    top: 20px;
    z-index: -1;
    bottom: 20px;
    margin-left: 19px;
  }
  .timeline_entry {
    margin-bottom: 10px;
    clear: both;
    @apply font-Comfortaa;
  }
  .timeline_icon {
    display: block;
    width: 40px;
    font-size: 20px;
    height: 40px;
    background-color: #f9bf3f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 35px;
    float: left;
  }
  .timeline_icon_2 {
    background: #de1db4;
  }
  .timeline_icon_5 {
    background: #00ffff;
  }

  .timeline_icon_4 {
    background: #ff0040;
  }

  .timeline_entry_inner {
    position: relative;
    top: 0px;
    margin-left: 11.5px;
  }
  .timeline_icon_3 {
    display: block;
    width: 20px;
    font-size: 20px;
    height: 20px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 35px;
    float: left;
  }
  .label {
    position: relative;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 1.5em;
    margin-left: 60px;
  }
  .label h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 30px 0;
    color: white;
  }
  .label h2 span {
    -webkit-opacity: 0.4;
    -moz-opacity: 0.5;
    opacity: 0.6;
    -ms-filter: alpha(opacity=40);
    filter: alpha(opacity=40);
    font-size: 16px;
  }

  .label p {
    margin-bottom: 1.5em;
    color: white;
    opacity: 0.7;
    font-size: medium;
  }

  p > a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    color: rgb(121, 189, 252);
    text-decoration: none;
  }

  @keyframes text {
    from {
      transform: translateX(-30px);
      opacity: 0.1;
    }
    /* to{opacity: 1;} */
  }
}
/* Projects */
@layer components {
  .projectSection {
    background: url(https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/5ba3effa-5032-4b31-ffc8-62da87a4a000/public);
    background-size: cover;
    @apply font-Comfortaa;
  }
  .projectGrid {
    @apply grid lg:grid-cols-3 grid-flow-row-dense grid-rows-3 lg:grid-rows-1 justify-center pb-6 pt-6;
  }
  .imageContainer1 {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    height: 75%;
    @apply px-6 mx-6 pt-4;
  }
  .imageContainer2 {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    height: 73%;
    @apply px-6 mx-6 pt-4;
  }
  .imageContainer3 {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12.3px);
    -webkit-backdrop-filter: blur(12.3px);
    height: 100%;
    @apply px-6 mx-6 pt-4;
  }
}
/* Contact */
@layer components {
  .contactSection {
    background: url(https://imagedelivery.net/WuNJ9qXloNU2BNpKhSqjvQ/5ba3effa-5032-4b31-ffc8-62da87a4a000/public);
    background-size: cover;
    @apply font-Comfortaa;
  }
  .letsTalk{
    @apply text-yellow-500 flex justify-center pt-6 mt-6 text-xl pb-5
  }
}
