@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
    background-color: black;
  }
}
/* sidebar  */
@layer components {
 
  .hamburger {
    @apply absolute top-1 left-1 inline-flex items-center justify-center rounded-full p-2 text-slate-700 z-50;
  }
  .sideBar {
    @apply lg:w-1/5 overflow-auto touch-pan-y p-6 w-full h-screen fixed top-0 lg:left-0 peer-focus:left-0  ease-out delay-150 duration-200 z-40;
  }
  .typeWriter {
    @apply flex justify-center pb-6 pt-6 mt-6 text-white font-medium;
  }
  .profileContainer {
    @apply pb-6 pt-6 flex flex-col items-center text-center mt-6;
  }
  .circleA {
    @apply rounded-full absolute border border-[#333333];
  }
  .circleB {
    @apply rounded-full absolute;
  }
  .backgroundCircles {
    @apply absolute flex justify-center items-center mt-16;
  }
  .selfie {
    @apply flex justify-center h-32 w-32 mx-auto rounded object-cover;
  }
  .navButton {
    @apply py-2 px-3 border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500 hover:border-[#56A4E6]/75 hover:text-[#56A4E6]/75 flex justify-center hover:animate-pulse hover:underline underline-offset-4 decoration-yellow-500;
  }
  .navList {
    @apply pt-5 mt-5 z-50 lg:pl-0 justify-items-center grid lg:grid-flow-row grid-flow-col lg:grid-cols-1 justify-center font-Comfortaa;
  }
  .iconA {
    @apply flex justify-center pt-6 mt-6;
  }
  .iconB {
    @apply flex justify-center pt-6;
  }
}
/* Hero */
@layer components {
    .overlay {
        height: 100%;
        position: fixed;
        height:100%;
        @apply absolute w-full opacity-20 bg-black -z-20 lg:opacity-25;
      }
      .content {
        @apply text-white relative z-30;
      }
      #stream {
        height: 100%;
        @apply absolute z-10 w-auto min-w-full min-h-full max-w-none
      }
      @media (max-width: 767px) {
        #stream {
          display: none;
        }
        body {
          background: url("/poster.jpg");
          @apply z-10 w-auto min-w-full min-h-full max-w-none bg-no-repeat bg-cover
        }
      }
}
/* About */
@layer components {
}